.bs4gg-btn-group { bottom: 16px !important; left: 16px !important; z-index: 999999999 !important; }
.bs4gg-grid { z-index: 999999998 !important; pointer-events: none !important; }
.bs4gg-grid-outline { outline: 1px solid #00ffff !important; }
.bs4gg-grid-border { border-right: 1px solid #00ffff !important; }
.bs4gg-grid-border:nth-child(1) { border-left: 1px solid #00ffff !important; }
@media (max-width: 767px) { .bs4gg-grid-outline { outline: none !important; } }
.bs4gg-rl { border-top-left-radius: 9999rem !important; border-bottom-left-radius: 9999rem !important; }
.bs4gg-rr { border-top-right-radius: 9999rem !important; border-bottom-right-radius: 9999rem !important; }
